# Python
__pycache__/
.pytest_cache/
*.pyc
*.pyo
*.pyd

# Environmental variables
venv/
.venv/
.envs
.envs.local
*.envs
.token

# Logs
*.log

# Editor
.vscode/
.idea/
*.swp
*.swo
*.tmp

# Build artifacts
dist/
build/
.coverage
coverage/
htmlcov/

# Docs
docs/

# OS
.DS_Store
Thumbs.db

# Data data
core/media
/ai/download
.ai
.ipython

scripts/
