{% extends "base.html" %}
{% load i18n static %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
<div class="scielo-home">
    <header class="scielo-home__header">
        <img
            class="scielo-home__logo"
            src="{% static 'vendor/scielo-ds/img/logo-scielo.svg' %}"
            alt="SciELO"
        >
    </header>
    <main class="scielo-home__main">
        <div class="scielo-home__panel">
            <h1>SciELO Tools</h1>
            <p>{% trans "Editorial platform for marking, validating and tracking research communication objects." %}</p>
            <a class="btn btn-primary" href="{% url 'wagtailadmin_home' %}">{% trans "Open admin" %}</a>
        </div>
    </main>
    <footer class="scielo-home__footer">
        SciELO Tools
    </footer>
</div>
{% endblock %}
