{% load static wagtailcore_tags wagtailuserbar %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:'en' }}">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
            {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
            {% wagtail_site as current_site %}
            {% if current_site and current_site.site_name %}- {{ current_site.site_name }}{% endif %}
            {% endblock %}
        </title>
        {% if page.search_description %}
        <meta name="description" content="{{ page.search_description }}" />
        {% endif %}
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        {% include "includes/scielo_favicon.html" %}

        {% if request.in_preview_panel %}
        <base target="_blank">
        {% endif %}

        <link rel="stylesheet" href="{% static 'css/scielo-tokens.css' %}">
        <link rel="stylesheet" href="{% static 'vendor/scielo-ds/css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/scielo-ds-components.css' %}">
        <link rel="stylesheet" href="{% static 'css/scielo_tools.css' %}">

        {% block extra_css %}
        {% endblock %}
    </head>

    <body class="scielo-ds {% block body_class %}{% endblock %}">
        {% wagtailuserbar %}

        {% block content %}{% endblock %}

        <script src="{% static 'vendor/scielo-ds/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'js/scielo_tools.js' %}"></script>

        {% block extra_js %}
        {% endblock %}
    </body>
</html>
